body {
  font-family: "Montserrat";
  font-size: 16px;
  & .login_Main {
    & .login_Section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & .main_Container_Login {
        margin: 3em 0 0 0;
        padding: 3em;
        border: solid #65cebc;
        box-shadow: 2px 2px 7px 2px #556864;
        display: flex;
        flex-direction: column;
        align-items: center;
        & .login_Title {
          margin: 0 0 1em 0;
          color: #65cebc;
          text-align: center;
          font-weight: 600;
        }
        & .ul_Log {
          list-style-type: none;
          display: flex;
          flex-direction: row;
          margin: 0;
          & > li {
            margin: 0.5em;

            & > input {
              margin: 0.5em;
            }
          }
        }
        & .userInput_Container {
          display: flex;
          flex-direction: column;
          padding: 1em;
          outline: none;
          width: 90%;

          & .labelUser_Input {
            margin: 0 0 0.7em 0;
            text-align: center;
          }

          & .user_Input:focus {
            background-color: white;
            outline: solid 1px #65cebc;
            border: solid 2px transparent;
          }
        }
        & .userPassword_Container {
          display: flex;
          flex-direction: column;
          padding: 1em;
          width: 90%;

          & .labelUser_Password {
            margin: 0 0 0.7em 0;
            text-align: center;
          }

          & .user_Password:focus {
            background-color: white;
            outline: solid 1px #65cebc;
            border: solid 2px transparent;
          }
        }

        & ::-webkit-input-placeholder {
          text-align: center;
        }

        & .submit_Btn {
          color: #65cebc;
          background: transparent;
          border: solid 1px #65cebc;
          height: 2em;
          width: 5em;
          margin-top: 1.5em;
          transition: 0.3s;

          &:hover {
            cursor: pointer;
            background-color: #65cebc;
            color: #ffffff;
          }
        }
      }
    }
  }
}
